@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.hamburger-line {
  width: 30px;
  height: 3px;
  background-color: black;
  margin: 5px 0;
  transition: all 0.3s ease;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: #77c089;
}

::-webkit-scrollbar-track {
  background: #e1efdc;
}
input[type="file"]::file-selector-button {
  display: none;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

html {
  scroll-behavior: smooth;
  scroll-padding: 30svh;
}

.brand-scrollbar::-webkit-scrollbar {
  width: 10px;
}

.brand-scrollbar::-webkit-scrollbar-thumb {
  background: #77c089;
}

.brand-scrollbar::-webkit-scrollbar-track {
  background: #e1efdc;
}
